@model CRYBZ_CCSB.Models.ViewModels.RegisterViewModel
<h2>Registreren</h2>
<form method="post" asp-action="Register" asp-controller="Account">
    <h4>Account aanmaken</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="FirstName"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="MiddleName"></label>
        <div class="col-md-10">
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="LastName"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Zipcode"></label>
        <div class="col-md-10">
            <input id="Zipcode" asp-for="Zipcode" class="form-control" onchange="checkZipcodeAndHouseNumber()" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Huisnummer"></label>
        <div class="col-md-10">
            <input id="Huisnummer" asp-for="Huisnummer" class="form-control" onchange="checkZipcodeAndHouseNumber()" />
            <span asp-validation-for="Huisnummer" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Straatnaam"></label>
        <div class="col-md-10">
            <input id="Straatnaam" asp-for="Straatnaam" class="form-control" readonly="readonly"/>
            <span asp-validation-for="Straatnaam" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Woonplaats"></label>
        <div class="col-md-10">
            <input id="Woonplaats" asp-for="Woonplaats" class="form-control" readonly="readonly" />
            <span asp-validation-for="Woonplaats" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="PasswordConfirm"></label>
        <div class="col-md-10">
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class="col-md-10">
            <select asp-for="RoleName"
                    asp-items="@CRYBZ_CCSB.Utility.Helper.GetRolesForDropDown(
 User.IsInRole(CRYBZ_CCSB.Utility.Helper.Admin))"
                    class="form-control">
                <option selected>- Selecteer rol -</option>
            </select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Registreer" class="btn btn-success" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <a asp-action="Login">Login</a>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script>
    function checkZipcodeAndHouseNumber() {
        var Postcode = document.getElementById("Zipcode").value;

        console.log(Postcode)

        var Huisnummer = document.getElementById("Huisnummer").value;

        console.log(Huisnummer)

        var street = document.getElementById("Straatnaam");

        console.log(street)

        var residence = document.getElementById("Woonplaats");

        console.log(residence)

        axios.get('https://geodata.nationaalgeoregister.nl/locatieserver/v3/free?q=' + Postcode + ' ' + Huisnummer)
            .then(response => {
                residence.value = response.data["response"]["docs"][0]["woonplaatsnaam"];
                street.value = response.data["response"]["docs"][0]["straatnaam"];
            })
            .catch(error => console.error(error));
    }
</script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}