@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Over CCSB</h1>
    <p>
        <a href=""></a>welkom bij de site van camper- en caravanstalling Bentelo!<br>
        Op deze site kunt u een plek voor uw camper of caravan reserveren.<br>
    </p>
</div>
<div class="Foto">
    <img src="~/images/Caravan.png" alt="Foto2" id="foto2">
</div>

<body>
    <style>
        footer {
            background-color: white;
        }
        .navbar-inverse {
            background-color: white;
            border-color: white;
        }
        nav-link text-white {
            background-color: white;
        }
        body {
            background-color: white;
        }
        #foto2 {
            width: 100%;
            top: 100%;
            align-content: center;
        }
    </style>
</body>