<div class="row">
    <div class="container">

        <div id="calendar"></div>
    </div>
</div>
<partial name="_AddEditAppointment"/>
@section Scripts{ 
    <script src="~/js/script-custom-calendar.js"></script>
}
